<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compass - <% if(locals.isReset){ %>Reset Password<% } else { %>Activate Account<% } %></title>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body class="login">
    <div class="container" id="login">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 shadow-bottom">
                <h3><% if(locals.isReset){ %>Reset Password<% } else { %>Activate Account<% } %></h3>
                <% if(locals.err){ %>
                    <div class="alert alert-danger" role="alert"><%= err %></div>
                <% } else { %>
                    <div class="alert alert-danger hidden" role="alert"></div>
                <% } %>
                <div class="alert alert-info" role="alert">Enter your preferred password twice below.</div>
                <form class="form-horizontal" role="form" action="/access/setPassword" method="POST">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="pass1" class="form-control" id="inputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="pass2" class="form-control" id="inputPassword2" placeholder="Retype Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success  pull-right"><% if(locals.isReset){ %>Reset Password<% } else { %>Activate Account<% } %></button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" class="form-control" value="<%= locals._csrf %>">
                    <% if(locals.code){ %>
                        <input type="hidden" name="code" class="form-control" value="<%= locals.code %>">
                    <% } %>
                    <% if(locals.isReset){ %>
                        <input type="hidden" name="isReset" class="form-control" value="true">
                    <% } %>
                    <div class="form-group" id="help">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<footer>
    <p>&copy; PositiveEdge Technology 2014</p>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.js"></script>

    <script type="text/javascript">
        var showError = function(msg){
            var alert = $('div.alert-danger');
            alert.html(msg);
            alert.removeClass('hidden');
        };

        $(document).ready(function(){
            $('form').on('submit', function(ev){
                var pass1 = $('input#inputPassword1').val();
                var pass2 = $('input#inputPassword2').val();

                var msg = [];
                if(!pass1.length)
                    msg.push('Password cannot be empty.');
                if(!pass2.length)
                    msg.push('Retyped password cannot be empty.');
                if(pass1 != pass2)
                    msg.push('Passwords should match.');

                if(msg.length){
                    msg = 'Please correct the following errors: <br>' + msg.join('<br>');
                    showError(msg);
                    ev.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
