<% include ../header.ejs %>
<div id="queue">
       <div class="container">
        <h3>Queues</h3>
        <div class='gridButtonContainer'>
            <% if(permissions.create){ %>
                <a class="btn btn-success btn-small" href="/queues/new">Add New Queue</a>
            <% } %>
        </div>
        <% include ../pager.ejs %>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" name="selected" id="inpSelectAll"></th>
                    <th>Name</th>
                    <th>Project</th>
                    <% if(permissions.del){ %>
                        <th><span class="icon-remove2"></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% if (locals.queues && queues.length > 0) { %>
                <% for (var i=0;i<queues.length;++i) { %>
                    <tr class="queue" data-uid="<%= queues[i].id %>">
                        <td><input type="checkbox" name="selected" value=""></td>
                        <td><%= queues[i].name %></td>
                        <td><%= queues[i].project %></td>
                        <% if(permissions.del){ %>
                            <td><span class="icon-remove2 btn-remove" data-uid="<%= queues[i].id %>" data-target="#mdlDeleteQueue"></td>
                        <% } %>
                    </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="mdlDeleteQueue">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete these queue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete Queues</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<% include ../scripts.ejs %>
<script type="text/javascript">
    $('tr.queue').on('click', function(ev){
        var uid = $(this);
        if($(ev.target).is(':checkbox'))
            return;
        uid = uid.attr('data-uid');
        location.href = '/queues/'+uid+window.location.search;
    });

    $('input#inpSelectAll').on('change',function(ev){
        if($(ev.target).prop('checked'))
            $('tbody input[type=checkbox]').prop('checked',true);
        else
            $('tbody input[type=checkbox]').prop('checked',false);
    });

    $('span.btn-remove').on('click',function(ev){
        ev.preventDefault();
        ev.stopPropagation();
        var uid = $(ev.target).attr('data-uid');
        $('div#mdlDeleteQueue button.btn.btn-danger').on('click', function(ev){
            ev.preventDefault();
            ev.stopPropagation();
            $.ajax({
                url: '/queues/'+uid,
                type: 'delete',
                success: function(data){
                    if(data && data.success)
                        location.reload(false);
                    else
                        alert('Error occurred');
                }
            })
        });
        $('#mdlDeleteQueue').modal();
    });
</script>
<% include ../footer.ejs %>
